@import "bulma.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css";

a.ref_link {
  color: whitesmoke;
}

html {
  background-color: #2148C0;
}

.register {
  margin: auto;
  width: 25%;
  padding-top: 15%;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.tasks {
  padding-top: 2.5%;
}

.login {
  background-color: #e87121;
  border-color: transparent;
  color: whitesmoke;
}

.columns.is-fullheight {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}
.columns.is-fullheight .column {
  overflow-y: auto;
}

#column-calendar {
  background-color: #f3f6f8;
}

.ghost {
  display: none;
}

.b1:hover {
  background-color: #f44336;
  color: white;
  transition-duration: 0.25s;
}
