<head> 
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <script type="text/javascript" src="/static/script.js"></script>
    <title>the owo test</title>
</head>
<body>
    <nav class="navbar is-transparent" role="navigation" aria-label="main navigation"> 
        <div class="navbar-brand">
            <a class="navbar-item ">
                <!--Make logo not distorted vertically https://github.com/jgthms/bulma/issues/305, 
                    $navbar-item-img-max-height changed from 1.75 to 12.5 in bulma.min.css 
                    crtl + f: .navbar-item img{max-height:12.5rem} -->
                <img src="../static/images/logo.png" width="100" height="100"> 
            </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/tasks_reminders">
                    Tasks/Reminders
                </a>
                <a class="navbar-item" href="/calendar">
                    Calendar
                </a>
                <a class="navbar-item" href="/settings">
                    Settings
                </a>
            </div>
        </div>
        <div class="navbar-end">
            <a class="navbar-item" href="/logout">Logout</a>
        </div>
    </nav>
    <div class="columns is-fullheight is-gapless"> <!-- Full height https://github.com/jgthms/bulma/issues/860 -->
        <div class="column is-main">
            <h1> Hello, world! </h1>
        </div>
    </div>
</body>