<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <script type='text/javascript' src="{{ url_for('static', filename= 'script.js') }}"></script>
    <title>Tasks/Reminders</title>
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="https://reminder-webapp.herokuapp.com/tasks-reminders">Tasks/Reminders</a></li>
            <li><a href="https://reminder-webapp.herokuapp.com/calendar">Calendar</a></li>
            <li><a href="https://reminder-webapp.herokuapp.com/settings">Settings</a></li>
        </ul>
    </div>
    <p>Temporary page for the Settings webpage.</p>
</body>
</html>
