<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bulma.min.css') }}">
    <script type='text/javascript' src="{{ url_for('static', filename= 'script.js') }}"></script>
    <title>Tasks/Reminders</title>
    <link rel="stylesheet" href="../static/css/bulma.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<!--
<div class="navbar">
    <ul>
        <li><a href="https://reminder-webapp.herokuapp.com/tasks-reminders">Tasks/Reminders</a></li>
        <li><a href="https://reminder-webapp.herokuapp.com/calendar">Calendar</a></li>
        <li><a href="https://reminder-webapp.herokuapp.com/settings">Settings</a></li>
    </ul>
</div>!-->
<a href="/logout">Logout</a>
<div class="container tasks">
    <div class="tile is-ancestor">
        <div class="tile is-parent is-vertical">
            <div class="tile is-child box">
                <form method="POST" action="/">
                    <input class="input" type="text" placeholder="Add task" name="new_task">
                    <input class="input" type="date" placeholder="Deadline" name="deadline">
                    <div class="control">
                        <button class="button">Add task</button>
                    </div>
                </form>
            </div>
            <br>
            <br>
        </div>
    </div>
</div>
</body>
</html>
