<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bulma.min.css') }}">
    <script type='text/javascript' src="{{ url_for('static', filename= 'script.js') }}"></script>
    <title>Tasks/Reminders</title>
    <link rel="stylesheet" href="../static/css/bulma.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<!--
<div class="navbar">
    <ul>
        <li><a href="https://reminder-webapp.herokuapp.com/tasks-reminders">Tasks/Reminders</a></li>
        <li><a href="https://reminder-webapp.herokuapp.com/calendar">Calendar</a></li>
        <li><a href="https://reminder-webapp.herokuapp.com/settings">Settings</a></li>
    </ul>
</div>!-->
<div class="columns is-fullheight is-gapless"> <!-- Full height https://github.com/jgthms/bulma/issues/860 -->
    <div class="column is-2 is-side">
        <aside class="menu">
            <a><img src="../static/images/v103_5.png" width="200" height="200"></a>
            <p class="menu-label">Navigation </p>
            <ul class="menu-list">
                <li><a href="https://reminder-webapp.herokuapp.com/tasks-reminders">Tasks/Reminders</a></li>
                <li><a href="https://reminder-webapp.herokuapp.com/calendar">Calendar</a></li>
                <li><a href="https://reminder-webapp.herokuapp.com/settings">Settings</a></li>
            </ul>
        </aside>
    </div>
    <div class="container tasks">
        <div class="tile is-ancestor">
            <div class="tile is-parent is-vertical">
                <div class="tile is-child box">
                    <input class="input" type="text" placeholder="Add task" id="new_task">
                </div>
                <br>
                <br>
    
                <div class="tile is-child box">
                    <span class="tag is-primary is-light is-medium">October 14, 2021</span>
                    <span class="tag is-danger is-light">sample group</span>
                    <span class="tag is-info is-light">sample group2</span>
                    <p class="subtitle">Do task.</p>
                </div>
                <div class="tile is-child box">
                    <p class="tile" id="username_test"></p>
                </div>
    
            </div>
        </div>
    </div>
</div>
</body>
</html>
